[Unit]
Description=Homelab VPS Infrastructure
After=network-online.target docker.service
PartOf=homelab-vps.target

[Install]
WantedBy=homelab-vps.target
