[Unit]
Description=Homelab Netbird Services
After=network.target
Documentation=https://docs.netbird.io/
PartOf=homelab-vps-infra.target
Requires=docker.service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/homelab-vps/netbird
ExecStart=/usr/bin/docker compose -p netbird up -d
ExecStop=/usr/bin/docker compose -p netbird down

[Install]
WantedBy=homelab-vps-infra.target
