[Unit]
Description=Docker compose stack for HAProxy
Documentation=http://www.haproxy.org/
After=network.target
PartOf=homelab-vps-infra.target
Requires=docker.service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/homelab-vps/haproxy
ExecStart=/usr/bin/docker compose -p haproxy up -d
ExecStop=/usr/bin/docker compose -p haproxy down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=homelab-vps-infra.target
