# /opt/homelab-vps/mail-proxy/haproxy.cfg

global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  30m
    timeout server  30m

# frontend smtp_in
#     bind *:25
#     default_backend smtp_out

# backend smtp_out
#     option tcp-check
#     server homeserver 100.69.1.1:25 check

frontend smtps_in
    bind *:465
    default_backend smtps_out

backend smtps_out
    option tcp-check
    server homeserver 100.69.1.1:465 check

frontend submission_in
    bind *:587
    default_backend submission_out

backend submission_out
    option tcp-check
    server homeserver 100.69.1.1:587 check

frontend imap_in
    bind *:143
    default_backend imap_out

backend imap_out
    option tcp-check
    server homeserver 100.69.1.1:143 check

frontend imaps_in
    bind *:993
    default_backend imaps_out

backend imaps_out
    option tcp-check
    server homeserver 100.69.1.1:993 check
